<%= render "shared/header" %>

    <div class="contents row">
      <p><%= @nickname %>さんの出品一覧</p>
      <% @items.each do |item| %>
        <div class="content_post" >
          <%= image_tag item.image%>
          <div class="name"><%= item.name %></div>
          <p><%= item.content %></p>
        </div>
      <% end %>
      
      <h3>フォロワー</h3>
      <% @user.followers.each do |user| %>
        <p class=“f-user”><%= user.nickname %></p>
      <% end %>
      <h3>フォロー中</h3>
      <% @user.followings.each do |user| %>
        <p class=“f-user”><%= user.nickname %></p>
      <% end %>    
    </div>





<%= render "shared/footer" %>