<%= render "shared/header" %>

    <div class="contents row">
      <%#出品商品の表示%>
      <p><%= @nickname %>さんの出品一覧</p>
      <% @items.each do |item| %>
        <div class="content_post" >
          <%= image_tag item.image%>
          <div class="name"><%= item.name %></div>
          <p><%= item.content %></p>
        </div>
      <% end %>

      <%#フォロワーフォロー中の表示%>
      <h3>フォロワー</h3>
      <% @user.followers.each do |user| %>
        <p class=“f-user”><%= user.nickname %></p>
      <% end %>
      <h3>フォロー中</h3>
      <% @user.followings.each do |user| %>
        <p class=“f-user”><%= user.nickname %></p>
      <% end %>    

      <%#いいねした商品の表示%>
      <h3>いいね済商品</h3>
      <% @user.likes.each do |like| %>
        <p class=“f-user”><%= like.item.user.nickname %></p>
        <p class=“f-user”><%= like.item.name %></p>
        <p class=“f-user”><%= like.item.content %></p>
      <% end %>
    </div>





<%= render "shared/footer" %>