<%= render "shared/header" %>

    <div class="contents row">
      <%#出品商品の表示%>
      <p><%= @nickname %>さんの出品商品一覧</p>
      <ul class='item-lists'>
        <% @items.each do |item| %>
        <li class='list'>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br><%= item.delivery_charge.name %></span>
            </div>
          </div>
        </li>
        <% end %>
      </ul>

      <%#フォロワーフォロー中の表示%>
      <h3>フォロワー</h3>
      <% @user.followers.each do |user| %>
        <p class=“f-user”><%= user.nickname %></p>
      <% end %>
      <h3>フォロー中</h3>
      <% @user.followings.each do |user| %>
        <p class=“f-user”><%= user.nickname %></p>
      <% end %>    

      <%#いいねした商品の表示%>
      <h3>いいね済商品</h3>
      <% @user.likes.each do |like| %>
        <p class=“f-user”><%= like.item.user.nickname %></p>
        <p class=“f-user”><%= like.item.name %></p>
        <p class=“f-user”><%= like.item.content %></p>
      <% end %>
    </div>





<%= render "shared/footer" %>